@use '@/styles/library' as *;

.error {
	margin-top: 1em;
}
.form {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	gap: 1em 2em;
	label {
		position: relative;
		font-size: $size-500;
		letter-spacing: 0.5px;
		color: $grey-800;
	}
	input,
	select {
		width: 100%;
		font-size: $size-400;
		letter-spacing: 0.5px;
	}
	.form-error {
		grid-column: 1 / -1;
	}
	hr {
		grid-column: 1 / -1;
	}
	button {
		font-size: $size-400;
	}
	.submit-button {
		grid-column: 1 / -1;
		justify-self: center;
		font-size: $size-500;
		padding: 0.75em 1.25em;
	}
	@media screen and (min-width: $size-phone-l) {
		column-gap: 2.5em;
		label {
			font-size: $size-600;
		}
		input,
		select {
			font-size: $size-500;
		}
	}
	@media screen and (min-width: $size-tablet-xs) {
		column-gap: 3em;
		grid-template-columns: auto auto;
	}
}
.section {
	max-width: 27rem;
	width: 100%;
	&.center {
		grid-column: 1 / -1;
		justify-self: center;
	}
}
