@use '@/styles/library' as *;

.form {
	display: flex;
	flex-direction: column;
	label {
		margin-bottom: 1em;
	}
	input {
		margin-bottom: 1.3em;
		width: 100%;
	}
	button {
		align-self: center;
	}
	hr {
		margin: 1em 0;
	}
}
.units-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	span {
		grid-column: 1 / -1;
	}
	& > div {
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: 0.75em 1.5em;
	}
}
