@use '@/styles/library' as *;
.footer {
	position: relative;
	width: 100%;
	max-width: $size-phone-l;
	margin: 0 auto;

	background-color: $grey-800;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5em;
	padding: 3em 1.5em;
	padding-bottom: 0;

	@include global(('.pages-column')) {
		ul {
			li button img {
				display: none;
			}
		}
	}

	&::before {
		content: '';
		z-index: -1;
		position: absolute;
		top: 0;
		left: 50%;
		width: 100vw;
		height: 100%;
		transform: translateX(-50%);
		background-color: inherit;
	}
}
