@use '@/styles/library' as *;
.header {
	position: sticky;
	top: 0;
	left: 0;

	@include theme(($grey-50, $grey-950), background-color);
	display: flex;
	justify-content: space-between;

	padding: 0.75em 1.5em;

	@include global(('button.nav-button', 'button.logo-button')) {
		background-color: transparent;
		box-shadow: none;
	}
	@include global(('button.logo-button')) {
		@include theme(($grey-800, $grey-200), color);

		display: flex;
		align-items: center;

		@include global(('.icon')) {
			filter: none;
			width: 2.5em;
		}
	}

	@media screen and (min-width: $size-tablet-l) {
		@include global(('.nav-button')) {
			display: none;
		}
	}
}
