@use '@/styles/library' as *;
.header {
	position: sticky;

	@include theme(($grey-50, $grey-950), background-color);
	display: flex;
	justify-content: space-between;

	padding: 1em 2em;

	@include global('button.logo-button') {
		background-color: transparent;
		box-shadow: none;
		@include theme(($grey-800, $grey-200), color);

		display: flex;
		align-items: center;

		@include global('.icon') {
			filter: none;
		}
	}

	@media screen and (min-width: 600px) {
		@include global('.nav-button') {
			display: none;
		}
	}
}
