@use '@/styles/library' as *;
.header {
	position: sticky;

	background-color: $grey-50;
	display: flex;
	justify-content: space-between;

	padding: 1em 2em;

	@include global('.logo-button') {
		background-color: transparent;
		box-shadow: none;
		@include global('.icon') {
			filter: none;
		}
	}

	@media screen and (min-width: 600px) {
		@include global('.nav-button') {
			display: none;
		}
	}
}
