@use '@/styles/library' as *;

.column {
	display: flex;
	flex-direction: column;

	& > span {
		margin-bottom: 1em;
		@include theme(($grey-300, $grey-400), color);
		font-size: $size-500;
		letter-spacing: 0.6px;
		padding: 0 0.65rem;
	}
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 0.5rem;
		li {
			& > * {
				width: fit-content;
				font-size: $size-400;
				letter-spacing: 0.5px;
				text-align: start;
			}
		}
	}
}
