@use '@/styles/library' as *;

.copywrite {
	grid-column: 1 / -1;
	width: 100%;
	margin-top: 2rem;
	border-top: 1.5px solid $grey-400;
	padding: 2em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: $size-400;
	color: $grey-400;
	.logo {
		display: flex;
		align-items: center;
		gap: 1em;
		span {
			font-size: $size-500;
		}
		img {
			filter: none;
		}
	}
	@media screen and (min-width: $size-tablet-xs) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		border: none;
		margin: 0;
		padding: 0;

		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 1rem;

		.logo {
			span {
				font-size: $size-600;
			}
			img {
				width: 2rem;
			}
		}
	}
}
