@use '@/styles/library' as *;

.footer {
	position: relative;
	width: 100%;
	max-width: $size-tablet-xs;
	margin: 0 auto;

	@include theme(($grey-800, $grey-900), background-color);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5em;
	padding: 3em 1.5em;
	padding-bottom: 0;
	@include theme((0, 1.5px solid $grey-700), border-top);

	@include global(('.pages-column')) {
		ul {
			li button img {
				display: none;
			}
		}
	}

	&::before {
		content: '';
		z-index: -1;
		position: absolute;
		top: 0;
		left: 50%;
		width: 100vw;
		height: 100%;
		transform: translateX(-50%);
		background-color: inherit;
	}

	@media screen and (min-width: $size-tablet-xs) {
		grid-template-columns: repeat(3, auto);
		padding-bottom: 4em;
	}
}
