@use '@/styles/library' as *;

.options {
	grid-column: 1 / -1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5em 0;
	border-bottom: 1.5px solid;
	@include theme(($grey-400, $grey-700), border-color);
	gap: 0.5em;
	.theme-button img,
	ul .translation-icon {
		@include theme(($grey-300__filter, $grey-400__filter), filter);
	}
	.theme-button {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: $size-400;
		img {
			width: 1.25rem;
		}
	}
	ul {
		width: 100%;
		display: flex;
		align-items: center;
		list-style: none;
		gap: 0.4em;
		.translation-icon {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 1.25rem;
		}
		@media screen and (min-width: $size-phone-m) {
			gap: 0.5em;
			.translation-icon {
				margin-right: 0.35em;
			}
		}
	}
}
