@use '@/styles/library' as *;

.item {
	list-style: none;
	font-size: $size-400;
	& > * {
		width: 100%;
	}
	.current {
		color: $main-700;
		.percent {
			color: $main-500;
		}
	}
	label {
		display: flex;
		justify-content: space-between;
		.percent {
			font-size: $size-200;
			color: $grey-500;
			margin-right: 0.5em;
		}
	}
	@media screen and (min-width: $size-phone-m) {
		font-size: $size-500;
	}
}
