@use '@/styles/library' as *;

.section {
	max-width: 27rem;
	width: 100%;
	justify-self: center;
	&-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		.data-section {
			header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1.5px solid $grey-300;
				padding: 0.6em 0;
				span {
					font-size: $size-400;
					color: $grey-800;
					letter-spacing: 0.3px;
				}
				.value {
					flex: 1;
					font-size: $size-300;
					color: $grey-600;
					text-align: right;
					padding: 0 1.5em;
					&::after {
						content: attr(data-unit);
						margin-left: 0.25em;
					}
				}
				.button {
					aspect-ratio: 1 / 1;
					border-radius: 50%;
					padding: 0.6em;
					.icon {
						width: 1.2rem;
						transition: all 0.4s;
						filter: $grey-600__filter;
					}
				}
				@media screen and (min-width: $size-phone-m) {
					span {
						font-size: $size-500;
					}
					.value {
						font-size: $size-400;
					}
				}
			}
			section {
				position: relative;
				margin: 1em 0;
				display: none;
				opacity: 0;
				transition: all 0.4s;
				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: calc(100% + 1em);
					width: 100%;
					height: 1.5px;
					background-color: $grey-300;
				}
			}
			&.show {
				.button .icon {
					transform: rotate(-90deg);
				}
				section {
					display: block;
					opacity: 1;
					pointer-events: auto;
				}
			}
			&:first-child {
				header {
					padding-top: 0;
				}
			}
			&:last-child {
				header {
					border-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}
	@media screen and (min-width: $size-tablet-xs) {
		max-width: $size-tablet-xs;
		grid-column: 1 / -1;
		justify-self: center;
		&-content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0.25em 1.5em;
			.data-section {
				header {
					.value {
						padding: 0;
					}
					.button {
						display: none;
					}
				}
				section {
					display: block;
					opacity: 1;
				}
				&:nth-child(even):nth-child(2) {
					header {
						padding-top: 0;
					}
				}
			}
		}
	}
}
