@use '@/styles/library' as *;
.form {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 1em 2em;
	input {
		width: 9rem;
	}
	hr {
		grid-column: 1 / -1;
	}
	@include global('.register-button') {
		grid-column: 1 / -1;
		justify-self: center;
		font-size: $size-500;
	}
}
