@use '@/styles/library' as *;

.section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: $size-phone-l;
	width: 100%;
	ul {
		--per-page: 6;
		list-style: none;
		display: grid;
		grid-template-rows: repeat(var(--per-page), 1fr);
	}

	@include global('.loading-icon') {
		margin: 1em;
		align-self: center;
	}
	.filter {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		gap: 2em;
		align-items: center;
		padding-bottom: 0.75em;
		border-bottom: 1.5px solid $grey-300;
		font-size: $size-400;
		label {
			color: $grey-500;
		}
		select {
			padding: 0.25em 1em;
			width: 4rem;
			color: $grey-500;
		}
	}
}
