@use '@/styles/library' as *;

.refuel-button {
	box-shadow: none;
	align-self: center;
	justify-self: flex-end;

	position: fixed;
	z-index: 5;
	bottom: 1em;
	right: 1em;
	padding: 1em;
	border-radius: 50%;
	border: 1.5px solid $grey-300;

	span {
		position: absolute;
		right: 50%;
		top: 50%;
		height: calc(100% + 3px);
		transform: translateY(-50%);
		background-color: inherit;
		padding: inherit;
		padding-left: 1.5em;
		padding-right: 2em;
		border-radius: 2.5rem 0 0 2.5rem;
		border: inherit;
		border-right: 0;

		color: $grey-800;
		font-size: $size-500;
		letter-spacing: 0.25px;

		transition: inherit;

		clip-path: ellipse(0% 50% at 100% 50%);
		opacity: 0;
	}
	@media screen and (min-width: $size-tablet-l) {
		right: calc((100% - $size-tablet-l) / 2 + 1.5em);
	}
	@media screen and (pointer: fine) {
		&:hover {
			span {
				clip-path: ellipse(150% 70% at 100% 50%);
				opacity: 1;
			}
		}
	}
}
@media screen and (min-width: $size-tablet-xs) {
	.refuel-button {
		span {
			font-size: $size-600;
		}
	}

	.overview,
	.dashboard {
		grid-column: 1 / -1;
	}
	.dashboard {
		& > div {
			max-width: $size-tablet-xs;
			ul {
				$gap: 2em;
				grid-template-rows: repeat(calc(var(--per-page) / 2), 1fr);
				grid-template-columns: repeat(2, 1fr);
				column-gap: $gap;
				li:nth-child(odd):nth-last-child(2),
				li:nth-child(even):nth-last-child(1) {
					border-bottom: none;
				}
				li:nth-child(odd) {
					position: relative;
					&::before {
						$height-decrease: 1em;
						content: '';
						position: absolute;
						height: calc(100% - $height-decrease);
						width: 1.5px;
						right: calc(-1 * $gap / 2);
						top: calc($height-decrease / 2);
						background-color: $grey-300;
					}
				}
			}
			@include global('.controls') {
				padding: 0.5em 10em;
			}
		}
	}
	hr.line {
		display: none;
	}
}
