@use '@/styles/library' as *;

.overview {
	margin-bottom: 2rem;
}
.events > div {
	max-width: $size-tablet-xs;
}
@media screen and (min-width: $size-tablet-xs) {
	.overview,
	.events {
		grid-column: 1 / -1;
	}
	.events {
		& > div {
			max-width: $size-tablet-xs;
			ul {
				$gap: 2em;
				grid-template-rows: repeat(calc(var(--per-page) / 2), 1fr);
				grid-template-columns: repeat(2, 1fr);
				column-gap: $gap;
				li:nth-child(odd):nth-last-child(2),
				li:nth-child(even):nth-last-child(1) {
					border-bottom: none;
				}
				li:nth-child(odd) {
					position: relative;
					&::before {
						$height-decrease: 1em;
						content: '';
						position: absolute;
						height: calc(100% - $height-decrease);
						width: 1.5px;
						right: calc(-1 * $gap / 2);
						top: calc($height-decrease / 2);
						background-color: $grey-300;
					}
				}
			}
			@include global('.controls') {
				padding: 0.5em 10em;
			}
		}
	}
}
