@use '@/styles/library' as *;

.section {
	display: flex;
	flex-direction: column;
	gap: 1em;
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include theme(($grey-800, $grey-300), color);
		letter-spacing: 0.3px;
		h3,
		time {
			font-size: $size-600;
			font-weight: 500;
		}
	}
	.main {
		--columns-count: 1;
		display: grid;
		grid-template-columns: repeat(var(--columns-count), 1fr);
		list-style: none;
		gap: 1em;
		@media screen and (min-width: 23rem) {
			gap: 1.5em;
		}

		& > li {
			padding-bottom: 1em;
			border-bottom: 1.5px solid;
			@include theme(($grey-300, $grey-700), border-color);
			display: grid;
			grid-template-columns: repeat(2, auto);
			gap: 0.75em;
			.label,
			.percent {
				@include theme(($grey-700, $grey-300), color);
				letter-spacing: 0.3px;
			}
			.label {
				font-size: $size-500;
			}
			.percent {
				text-align: right;
				font-size: $size-400;
				@media screen and (min-width: 25rem) {
					font-size: $size-500;
				}
				&::after {
					margin-left: 0.15em;
					font-size: $size-300;
					content: '%';
				}
			}
			hr {
				grid-column: 1 / -1;
			}
			.graph {
				grid-column: 1 / -1;
				width: auto;
				label {
					data {
						@include theme(($grey-600, $grey-400), color);
						font-size: $size-400;
						letter-spacing: 0.5px;
						span {
							margin-left: 0.3em;
							font-size: $size-300;
						}

						@media screen and (min-width: 25rem) {
							font-size: $size-500;
							span {
								font-size: $size-400;
							}
						}
						&.current {
							color: $main-800;
							@include theme(($main-800, $main-400), color);
						}
					}
				}
			}
		}
	}
	@media screen and (min-width: 37.5rem) {
		max-width: $size-tablet-xs;
		.main {
			--columns-count: 2;
		}
	}
}
