@use '@/styles/library' as *;
.section {
	display: flex;
	flex-direction: column;
	gap: 1em;
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $grey-800;
		letter-spacing: 0.2px;
		h3 {
			font-size: $size-700;
		}
		time {
			font-size: $size-500;
		}
	}
	.main {
		display: grid;
		grid-template-columns: repeat(1, 35fr 30fr 35fr);
		align-items: center;
		gap: 1em;
		@media screen and (min-width: 23rem) {
			gap: 1.5em;
		}

		.label {
			height: 100%;
			width: fit-content;
			color: $grey-700;
			font-size: $size-400;
			letter-spacing: 0.5px;
			display: flex;
			align-items: center;
			@media screen and (min-width: 25rem) {
				font-size: $size-600;
			}
		}
		.graph {
			width: auto;
		}
		data {
			width: fit-content;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.data {
				color: $grey-700;
				font-size: $size-400;
				letter-spacing: 0.5px;
				span {
					margin-left: 0.3em;
					font-size: $size-300;
				}
				@media screen and (min-width: 25rem) {
					font-size: $size-600;
					span {
						font-size: $size-400;
					}
				}
			}
			.percent {
				color: $grey-500;
				font-size: $size-400;
				&::after {
					margin-left: 0.15em;
					font-size: $size-300;
					content: '%';
				}
			}
		}
	}
	@media screen and (min-width: $size-tablet-xs) {
		max-width: $size-tablet-xs;
		.main {
			grid-template-columns: repeat(2, 35fr 30fr 35fr);
			& > *:nth-child(3n + 1):nth-child(even) {
				border-left: 1.5px solid $grey-300;
				height: 100%;
				padding-left: 1.5em;
			}
		}
	}
}
