@use '@/styles/library' as *;
.nav {
	position: absolute;
	top: calc(100% + 1em);
	right: 0;

	background-color: inherit;
	@include theme(($grey-800, $grey-200), color);

	padding: 1em 2em;

	transition: all $anim-duration-500;

	@include global('.hidden', true) {
		opacity: 0;
		pointer-events: none;
	}
}
