@use '@/styles/library' as *;

.button {
	border: 1.5px solid transparent;
	border-radius: 5px;

	@include theme(($grey-200, $grey-700), background-color);
	@include theme(($grey-800, $grey-200), color);
	img {
		@include theme(($grey-800__filter, $grey-200__filter), filter);
	}

	box-shadow: 0 0 0.09rem 0.1rem rgba($color: $grey-950, $alpha: 0.1);

	display: flex;
	gap: 1.5em;

	@include transition-all(0.4s, outline);

	$padding-block: 0.35rem;
	$padding-inline: 0.65rem;
	font-size: $size-200;
	padding: $padding-block $padding-inline;

	@include global(('.rect')) {
		padding: 0.7em;
		aspect-ratio: 1 / 1;
	}

	&:hover {
		cursor: pointer;
		@include theme(($grey-100, $grey-600), background-color);
	}
	&:active {
		@include theme(($grey-300, $grey-800), background-color);
	}
	&:focus-visible {
		outline: 2px solid;
		@include theme(($accent-500, $accent-600), outline-color);
	}
	&:disabled {
		cursor: initial;
		@include theme(($grey-400, $grey-800), background-color);

		img {
			filter: $grey-900__filter;
		}
	}
	&.selected {
		@include theme(($main-500, $main-700), background-color);
		@include theme(($grey-200, $grey-200), color);
		img {
			filter: $grey-200__filter;
		}
		&:disabled {
			@include theme(($main-700, $main-900), background-color);
		}
	}
	&_dark {
		@include theme(($grey-600, $grey-700), background-color);
		@include theme(($grey-300, $grey-200), color);
		img {
			@include theme(($grey-300__filter, $grey-200__filter), filter);
		}
		&:hover {
			@include theme(($grey-500, $grey-600), background-color);
		}
		&:active {
			@include theme(($grey-800, $grey-800), background-color);
		}
		&:disabled {
			@include theme(($grey-700, $grey-800), background-color);
			@include theme(($grey-400, $grey-400), color);
			img {
				@include theme(($grey-400__filter, $grey-300__filter), filter);
			}
		}
		&.selected {
			@include theme(($main-600, $main-700), background-color);
			&:hover {
				@include theme(($main-500, $main-600), background-color);
			}
			&:active {
				@include theme(($main-700, $main-800), background-color);
			}
		}
	}
	&_link {
		position: relative;
		@include theme((inherit, transparent), background-color);
		@include theme(($grey-400, $grey-500), color);
		border-radius: 0;
		box-shadow: none;
		&:hover {
			@include theme(($grey-300, $grey-400), color);
			@include theme((transparent, transparent), background-color);
		}
		&:active {
			@include theme((transparent, transparent), background-color);
		}
		&:disabled {
			@include theme((transparent, transparent), background-color);
			@include theme(($grey-500, $grey-600), color);
			&.selected {
				background-color: $main-900;
				@include theme(($main-900, $main-950), background-color);
			}
		}
		&.selected {
			@include theme((inherit, transparent), background-color);

			&::before {
				@include theme(($main-500, $main-600), background-color);
			}
			&:hover {
				@include theme(($grey-100, $grey-300), color);
				&::before {
					@include theme(($main-600, $main-500), background-color);
				}
			}
			&:active {
				@include theme(($grey-600, $grey-700), background-color);
				&::before {
					@include theme(($main-400, $main-500), background-color);
				}
			}
		}
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: $padding-inline;
			width: calc(100% - (2 * #{$padding-inline}));
			height: 1.5px;
			background-color: transparent;
			transition: all 0.4s;
		}
	}
	&_redirect {
		@include theme((transparent, transparent), background-color);
		@include theme(($grey-400, $grey-300), color);
		box-shadow: none;
		&:hover {
			@include theme(($grey-500, $grey-200), color);
			@include theme(($grey-200, $grey-700), background-color);
		}
		&:active {
			@include theme(($grey-300, $grey-800), background-color);
		}
		&:disabled {
			@include theme(($grey-200, $grey-700), background-color);
			@include theme(($grey-400, $grey-500), color);
			img {
				filter: $grey-400__filter;
			}
			&.selected {
				@include theme(($main-600, $main-800), background-color);
			}
		}
		&.selected {
			@include theme(($main-400, $main-700), background-color);
			&:hover {
				@include theme(($main-300, $main-600), background-color);
			}
			&:active {
				@include theme(($main-500, $main-800), background-color);
			}
		}
	}
	&_accent {
		@include theme(($main-500, $main-700), background-color);
		@include theme(($grey-50, $grey-200), color);
		box-shadow: none;
		img {
			@include theme(($grey-50__filter, $grey-200__filter), filter);
		}
		&:hover {
			cursor: pointer;
			@include theme(($main-400, $main-600), background-color);
		}
		&:active {
			@include theme(($main-600, $main-800), background-color);
		}
		&:disabled {
			@include theme(($grey-200, $grey-700), background-color);
			@include theme(($grey-400, $grey-400), color);
			img {
				@include theme(($grey-400__filter, $grey-300__filter), filter);
			}
			&.selected {
				@include theme(($main-600, $main-800), background-color);
			}
		}
		&.selected {
			@include theme(($accent-500, $accent-700), background-color);
			&:hover {
				@include theme(($accent-400, $accent-600), background-color);
			}
			&:active {
				@include theme(($accent-600, $accent-800), background-color);
			}
		}
	}
	&_error {
		box-shadow: none;
		border: 1.5px solid;
		@include theme(($grey-100, $grey-700), background-color);
		@include theme(($grey-300, $grey-500), border-color);
		@include theme(($grey-700, $grey-300), color);
		img {
			@include theme(($grey-700__filter, $grey-300__filter), filter);
			transition: inherit;
		}
		&:hover,
		&:active,
		&.selected {
			@include theme(($error-600, $error-600), border-color);
		}
		&:hover {
			@include theme(($error-700, $grey-200), color);
			//@include theme(($accent-100, $accent-800), background-color);
			@include theme(($error-100, $error-800), background-color);
			img {
				@include theme(($error-700__filter, $grey-200__filter), filter);
			}
		}
		&:active {
			@include theme(($error-200, $error-900), background-color);
		}
		&:disabled {
			@include theme(($grey-300, $grey-800), background-color);
			@include theme(($grey-600, $grey-500), color);
			@include theme(($grey-400, $grey-700), border-color);
			img {
				@include theme(($grey-600__filter, $grey-500__filter), filter);
			}
			&.selected {
				@include theme(($accent-300, $accent-800), background-color);
				@include theme(($grey-600, $grey-500), color);
				@include theme(($accent-400, $accent-900), border-color);
			}
		}
		&.selected {
			@include theme(($error-300, $error-800), background-color);
			@include theme(($grey-800, $grey-200), color);
			@include theme(($error-400, $error-700), border-color);
			&:hover,
			&:active {
				@include theme(($error-600, $error-500), border-color);
			}
			img {
				@include theme(($grey-800__filter, $grey-200__filter), filter);
			}
			&:hover {
				@include theme(($error-200, $error-700), background-color);
			}
			&:active {
				@include theme(($error-500, $error-900), background-color);
			}
		}
	}
	&_success {
		box-shadow: none;
		border: 1.5px solid;
		@include theme(($grey-100, $grey-700), background-color);
		@include theme(($grey-300, $grey-500), border-color);
		@include theme(($grey-700, $grey-300), color);
		img {
			@include theme(($grey-700__filter, $grey-300__filter), filter);
			transition: inherit;
		}
		&:hover,
		&:active,
		&.selected {
			@include theme(($success-600, $success-600), border-color);
			//@include theme(($accent-600, $accent-600), border-color);
		}
		&:hover {
			//@include theme(($accent-700, $grey-200), color);
			@include theme(($success-700, $grey-200), color);
			//@include theme(($accent-100, $accent-800), background-color);
			@include theme(($success-100, $success-800), background-color);
			img {
				//@include theme(($accent-700__filter, $grey-200__filter), filter);
				@include theme(($success-700__filter, $grey-200__filter), filter);
			}
		}
		&:active {
			@include theme(($success-200, $success-900), background-color);
		}
		&:disabled {
			@include theme(($grey-300, $grey-800), background-color);
			@include theme(($grey-600, $grey-500), color);
			@include theme(($grey-400, $grey-700), border-color);
			img {
				@include theme(($grey-600__filter, $grey-500__filter), filter);
			}
			&.selected {
				@include theme(($accent-300, $accent-800), background-color);
				@include theme(($grey-600, $grey-500), color);
				@include theme(($accent-400, $accent-900), border-color);
			}
		}
		&.selected {
			@include theme(($success-300, $success-800), background-color);
			@include theme(($grey-800, $grey-200), color);
			@include theme(($success-400, $success-700), border-color);
			&:hover,
			&:active {
				@include theme(($success-600, $success-500), border-color);
			}
			img {
				@include theme(($grey-800__filter, $grey-200__filter), filter);
			}
			&:hover {
				@include theme(($success-200, $success-700), background-color);
			}
			&:active {
				@include theme(($success-500, $success-900), background-color);
			}
		}
	}
}
