@use '@/styles/library' as *;
.button {
	border: none;
	border-radius: 5px;

	@include theme(($grey-200, $grey-900), background-color);
	@include theme(($grey-800, $grey-200), color);
	@include global('.icon') {
		@include theme(($grey-800__filter, $grey-200__filter), filter);
	}

	box-shadow: 0 0 0.09rem 0.1rem rgba($color: $grey-950, $alpha: 0.1);

	display: flex;
	gap: 1.5em;

	@include transition-all(0.4s, outline);

	font-size: $size-200;
	padding: 0.35em 0.65em;

	@include global(('.rect')) {
		padding: 0.7em;
		aspect-ratio: 1 / 1;
	}

	&:hover {
		cursor: pointer;
		background-color: $grey-100;
		@include theme(($grey-100, $grey-800), background-color);
	}
	&:active {
		@include theme(($grey-300, $grey-700), background-color);
	}
	&:focus-visible {
		outline: 2px solid $accent-500;
	}
	&:disabled {
		cursor: initial;
		@include theme(($grey-400, $grey-600), background-color);
	}
	@include global('.selected', true) {
		@include theme(($main-500, $main-600), background-color);
		@include theme(($grey-200, $grey-900), color);
		@include global('.icon') {
			filter: $grey-200__filter;
		}
	}
}
