@use '@/styles/library' as *;
.error {
	display: block;
	padding: 0.55em 0.75em;

	background-color: $error-50;
	border: 1.5px solid $error-600;
	border-radius: 4px;

	color: $error-800;
	font-size: $size-400;
	letter-spacing: 0.5px;
	line-height: 1.5;
	font-weight: 500;
}
