@use '@/styles/library' as *;

.wrapper {
	position: relative;
	.select {
		width: 100%;
		height: 100%;
		appearance: none;
	}
	img {
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translateY(-50%);
		width: 1.15rem;
		@include theme(($grey-700__filter, $grey-300__filter), filter);
	}
}
