@use '@/styles/library' as *;

.wrapper {
	$caret-width: 1.15rem;
	position: relative;
	.select {
		--caret-width: calc(#{$caret-width} * 1.5);
		width: 100%;
		height: 100%;
		appearance: none;
	}
	img {
		position: absolute;
		top: 50%;
		right: 0.75rem;
		transform: translateY(-50%);
		width: $caret-width;
		@include theme(($grey-700__filter, $grey-300__filter), filter);
	}
}
