$size-phone-sm: 20rem; // 320 px (iPhone SE Portrait)
$size-phone-m: 23.4375rem; // 375 px (iPhone 8 Portrait)
$size-phone-l: 25.875rem; // 414 px (iPhone 8 Plus Portrait)

$size-tablet-sm: 48rem; // 748 px (iPad/iPad Mini Portrait)
$size-tablet-m: 52.125rem; // 834 px (iPad Pro 10.5 Portrait)
$size-tablet-l: 64rem; // 1024 px (iPad Pro 12.9 Portrait)
$size-tablet-xl: 85.375rem; // 1366 px (iPad Pro 12.9 Landscape)
