$main-50: #eff6ff;
$main-100: #dbeafe;
$main-200: #bfdbfe;
$main-300: #93c5fd;
$main-400: #60a5fa;
$main-500: #3b82f6;
$main-600: #2563eb;
$main-700: #1d4ed8;
$main-800: #1e40af;
$main-900: #1e3a8a;
$main-950: #172554;

$grey-50: #f8fafc;
$grey-100: #f1f5f9;
$grey-200: #e2e8f0;
$grey-300: #cbd5e1;
$grey-400: #94a3b8;
$grey-500: #64748b;
$grey-600: #475569;
$grey-700: #334155;
$grey-800: #1e293b;
$grey-900: #0f172a;
$grey-950: #020617;

$accent-50: #fff7ed;
$accent-100: #ffedd5;
$accent-200: #fed7aa;
$accent-300: #fdba74;
$accent-400: #fb923c;
$accent-500: #f97316;
$accent-600: #ea580c;
$accent-700: #c2410c;
$accent-800: #9a3412;
$accent-900: #7c2d12;
$accent-950: #431407;

$grey-50__filter: invert(100%) sepia(1%) saturate(2227%) hue-rotate(175deg) brightness(97%) contrast(103%);
$grey-200__filter: invert(90%) sepia(7%) saturate(337%) hue-rotate(183deg) brightness(106%) contrast(88%);
$grey-800__filter: invert(13%) sepia(14%) saturate(1669%) hue-rotate(178deg) brightness(93%) contrast(92%);
$grey-950__filter: invert(4%) sepia(90%) saturate(859%) hue-rotate(203deg) brightness(94%) contrast(105%);
