$main-50: #eff6ff;
$main-100: #dbeafe;
$main-200: #bfdbfe;
$main-300: #93c5fd;
$main-400: #60a5fa;
$main-500: #3b82f6;
$main-600: #2563eb;
$main-700: #1d4ed8;
$main-800: #1e40af;
$main-900: #1e3a8a;
$main-950: #172554;

$grey-50: #f8fafc;
$grey-100: #f1f5f9;
$grey-200: #e2e8f0;
$grey-300: #cbd5e1;
$grey-400: #94a3b8;
$grey-500: #64748b;
$grey-600: #475569;
$grey-700: #334155;
$grey-800: #1e293b;
$grey-900: #0f172a;
$grey-950: #020617;

$accent-50: #fff7ed;
$accent-100: #ffedd5;
$accent-200: #fed7aa;
$accent-300: #fdba74;
$accent-400: #fb923c;
$accent-500: #f97316;
$accent-600: #ea580c;
$accent-700: #c2410c;
$accent-800: #9a3412;
$accent-900: #7c2d12;
$accent-950: #431407;

$main-500__filter: invert(41%) sepia(99%) saturate(580%) hue-rotate(185deg) brightness(96%) contrast(101%);
$main-600__filter: invert(34%) sepia(42%) saturate(2935%) hue-rotate(208deg) brightness(90%) contrast(105%);

$grey-50__filter: invert(100%) sepia(1%) saturate(2227%) hue-rotate(175deg) brightness(97%) contrast(103%);
$grey-100__filter: invert(100%) sepia(68%) saturate(582%) hue-rotate(177deg) brightness(101%) contrast(95%);
$grey-200__filter: invert(90%) sepia(7%) saturate(337%) hue-rotate(183deg) brightness(106%) contrast(88%);
$grey-300__filter: invert(90%) sepia(20%) saturate(151%) hue-rotate(175deg) brightness(93%) contrast(88%);
$grey-400__filter: invert(68%) sepia(17%) saturate(355%) hue-rotate(175deg) brightness(91%) contrast(90%);
$grey-500__filter: invert(50%) sepia(9%) saturate(1025%) hue-rotate(176deg) brightness(87%) contrast(88%);
$grey-600__filter: invert(31%) sepia(8%) saturate(1619%) hue-rotate(176deg) brightness(93%) contrast(85%);
$grey-700__filter: invert(23%) sepia(8%) saturate(2382%) hue-rotate(176deg) brightness(90%) contrast(86%);
$grey-800__filter: invert(13%) sepia(14%) saturate(1669%) hue-rotate(178deg) brightness(93%) contrast(92%);
$grey-900__filter: invert(5%) sepia(85%) saturate(1029%) hue-rotate(198deg) brightness(97%) contrast(94%);
$grey-950__filter: invert(4%) sepia(90%) saturate(859%) hue-rotate(203deg) brightness(94%) contrast(105%);

$accent-100__filter: invert(92%) sepia(5%) saturate(2871%) hue-rotate(313deg) brightness(109%) contrast(104%);
$accent-700__filter: invert(23%) sepia(75%) saturate(3708%) hue-rotate(18deg) brightness(92%) contrast(91%);

$error-50: #fef2f2;
$error-100: #fee2e2;
$error-200: #fecaca;
$error-300: #fca5a5;
$error-400: #f87171;
$error-500: #ef4444;
$error-600: #dc2626;
$error-700: #b91c1c;
$error-800: #991b1b;
$error-900: #7f1d1d;
$error-950: #450a0a;

$error-100__filter: invert(71%) sepia(31%) saturate(142%) hue-rotate(314deg) brightness(122%) contrast(99%);
$error-700__filter: invert(18%) sepia(95%) saturate(2217%) hue-rotate(345deg) brightness(94%) contrast(103%);

$success-50: #f0fdf4;
$success-100: #dcfce7;
$success-200: #bbf7d0;
$success-300: #86efac;
$success-400: #4ade80;
$success-500: #22c55e;
$success-600: #16a34a;
$success-700: #15803d;
$success-800: #166534;
$success-900: #14532d;
$success-950: #052e16;

$success-100__filter: invert(88%) sepia(25%) saturate(184%) hue-rotate(85deg) brightness(106%) contrast(98%);
$success-700__filter: invert(36%) sepia(98%) saturate(422%) hue-rotate(90deg) brightness(87%) contrast(87%);
