$size-50: 0.5625rem; // 9
$size-100: 0.625rem; // 10
$size-200: 0.6875rem; // 11
$size-300: 0.75rem; // 12
$size-400: 0.8125rem; // 13
$size-500: 0.875rem; // 14
$size-600: 1rem; // 16
$size-700: 1.125rem; // 18
$size-800: 1.5rem; // 24
$size-900: 2.25rem; // 36
$size-950: 3rem; // 48
